@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,600;1,500&family=Roboto:wght@400;500&display=swap');
body{

    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto slab', sans-serif;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    z-index: 10 ;
    background: #f6f8fa;
    position: fixed;
    border-bottom:1px solid #f5f5f5 ;
    opacity: 0.9;
}
header .logo{

    position: relative;
    font-size: 45px;
    color: #076623;
    text-decoration: none;
    font-weight: 600;
}
header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    font-size: 16px;
}
header .navigation li{
    list-style: none;
    margin: 0 10px;
}
header .navigation li a{
    color: #5d665b;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 20px;
}
header .navigation li a:hover{
    color: rgb(12, 209, 5);
}
header .search{
    position: relative;
    width: 200px;
    height: 40px;
    padding-left: 2px;
    margin-left: 10px;
}
header .search input{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #0f0f0f;
    border-radius: 6px;
    padding: 0 10px 0 45px;
}
header .search input::placeholder{
    color: #0f0f0f;
}
header .search .fa-search{
    position: absolute;
    top: 35%;
    transform: translate(-50%);
    left: 20px;
    color: #0f0f0f;
    border-right: 1px solid #8d0101 ;
    padding-right: 10px;
}
header .login{

    width: 20px;
    height: 20px;
    padding-left: 0px;
}
header .login button{
    
    border: 1px solid #f5f0f0;
}
header .shopping button{
    border: 1px solid #faf8f8;
}
header .shopping{
    width: 20px;
    height: 20px;
    padding-left: 0px;
}
header .toggle{
    background-color: #2b2e2a;
    color: rgb(26, 24, 24);
    text-align: left;
    padding: 10px;
    cursor: pointer;
    background-color: #f6f8fa;
    display: none;
}
header .toggle .fa-bars{
    position: absolute;
    top: 30%;
    transform: translate(-50%);
    left: 50px;
}
 .overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}
.mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #ffff;
    transform:translateX(-100%);
    transition: transform linear 0.3s;
}
.nav-mobile{
   margin-top: 24px;

}
.nav-mobile li a{
    text-align: center;
}
.nav-mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 15px;

}
.nav-mobile-close{
    width: 28px;
    height: 20px;
    font-size: 1.4rem;
    color: #333;
    position: absolute;
    top: 1rem;
    right: 1rem
    ;
}
.nav-input:checked ~ .overlay{
   display: block;
}
.nav-input:checked ~ .mobile{
    transform: translateX(0%);
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width: 868px){
    header{
        padding: 20px 30px;
        flex-direction: column;
    }
    header .search{
        position: relative;
    }
    
}
@media(max-width: 768px){
    header .toggle{
        display: block;
        text-align: right;
    }
    header .navigation{

        display: none;
    }
    header .login{
        display: none;
    }
    header .shopping{
        display: none;
    }
    header .search{
        display: none;
    }
}

/* footer */
footer .container{
    margin: auto;
    max-width: 1170px;
}
footer .row{
    display: flex;
    flex-wrap: wrap;
}

footer ul{
    list-style: none;
}
.footer{
    background-color: #f6f8fa;
   
    padding: 70px 0;
    height: 1000px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h1{
    font-size:18px ;
    color: #5d665b;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0f0f0f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
