body{
margin: 0;
font-family: "Roboto" sans-serif;
}
#header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
#header .header-inner{
    width: 80%;
    height: 90px;
    background-color: #f6f8fa;
    margin: 10px auto;
    display: flex;

}
#header .header-inner .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo a{
    font-size: 45px;
    height: 50px;
    color: #12ac38;
    align-items: center;
    font-family: "Roboto" sans-serif;  
}
.logo{
    background-color: #f6f8fa;
    width: 20%;
    height: 8px;
    display: flex;
      
}


#header .header-inner .nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
   
}
.main-menu{
    display: flex;
    align-items: center;
}
.main-menu>li{
    margin-right: 60px;
    list-style-type: none;
}
.main-menu>li>a{
    display: block;
    text-decoration: none;
    color: #6d7570;
}.main-menu li a:hover{
    color: #12ac38;
    transition: all 0.3s;
}
@media screen and (max-width: 768px){
    .header-inner{
        flex-direction: column;
        text-align: center;
    }
}
.topnav{
    width: 284pxpx ;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
}
.search-container{
    display: flex;
    align-items: center; 
    margin-right: 10px;
}

.login-container{
    display: flex;
    align-items: center;   
    margin-right: 10px;
}
.shopping-container{
    display: flex;
    align-items: center;   
}
