@media (max-width: 480px) {
    .cartergory-left{
        display: none;
    }
    .product{
        display: flex;
        text-align: center;
    }
    .products{
        flex-basis: 35%;
        width: 36px;
        height: 250px;
    }
    .text-product{
        width: 150px;
    }
    .cartegory-top{
        margin-left: 35px;
    }
}