@media (max-width: 480px) {
    .cartergory-left{
        display: none;
    }
    .products{
        flex-basis: 35%;
        width: 25px;
        height: 200px;
    }
    .text-product{
        width: 105px;
    }
}