/* css for body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    width: 100%;
}
#container1{
    padding-top: 55px;
    
}
#title-con1 p{
    text-align: center;
    font-size: 27px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
}
#title-con1{
    padding-bottom: 60px;
    padding-top: 100px;
}
#txt-con1 a{
    text-align: center;
    font-size: 20px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding-top: 17px;

}
#img-con1{
    justify-content: center;
    width: 80%;
}
#img-con1:hover {
    transform: scale(0.9);   
}
#img-product:hover{
    transform: scale(0.9);  
    background-color: rgb(70, 104, 1);
    border-radius: 100px;
}
#container2{
    padding-top: 80px;
}
#txt-con2{
    padding-top: 70px;
    padding-bottom: 70px;
}
#txt-con2 p{
    text-align: center;
    font-size: 27px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
}
#img-product-con2:hover img{
    transform: scale(0.9);
}