/* #imgslide {
    height: 900px;
    width: 1080px;
}
.txtcon-2{
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
#rowimg-con1 :hover img {
    transform: scale(1.2);
    background-color: #3a8f20;
    border-radius: 60px;
}
#rowimg-con1{
    display: flex;
    justify-content: center;
}
#rowimg-con1 img{
    max-width: 85%;
} 
#img-sp {
    display: flex;
    justify-content: center;
}
#txt-con2{
    display: flex;
    justify-content: center;
}
#txt-con2 a{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    color: black;
}
#txt-con2:hover a{
    transform: scale(1.2);
}
.title-con2{
    display: flex;
    justify-content: center;
}
.txt-title{
    padding-top: 170px;
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    font-weight: 600;

}
.img-con2{
    display: flex;
    justify-content: center;

}
#cardproduct-con2 img{
    max-width: 95%;
}
.nameproduct-con2, .price-con2{
    text-align: center;
    font-family: 'Archivo', sans-serif;
}
.nameproduct-con2 a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.nameproduct-con2:hover a{
    transform: scale(1.2);
    color: #86BA09;
}
.price-con2 p{
    font-size: 20px;
    color: #86BA09;
}
#cardproduct-con2:hover img{
    transform: scale(0.9);
    box-shadow:20px 20px 35px 7px grey;
    border-radius: 30px;

}
#container3{
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
}

.brg-con3 img{
    max-width: 100%;
}
.txt-con3{
    position: relative;
    margin-top: -450px;
}
.txt-con3 p{
    text-align: center;
    font-family: 'Roboto slab', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
#txt-con3-small{
    text-align: center;
} */



#img-product-con1{
    text-align: center;
}
#txt-product-con1{
    font-size: 22px;
    padding-top: 25px;
    font-family: 'Roboto slab', sans-serif;
}